<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
	<ul>
		<p> Number of users : <%= users_.length %></p>
    </ul>
  </div>
  <div class="tableFixHead">
      <table>
        <thead>
          <tr>
            <th>image</th>
			<th>id</th>
            <th>nickname</th>
            <th>imageprofile</th>
			<th>status</th>
			<th>connected</th>
			<th>lastconnected</th>
			<th>disconnected</th>
			<th>blacklistauthor</th>
			<th>notseenmessages</th>
			<th>connectedwith</th>
          </tr>
        </thead>
        <tbody>
          <%    
			//sord by 'id'
			function isLargeNumber(item) {
				return item.id > curr.id;
			}
		
			var users__ = users_.reduce((acc, curr) => {   //see node.js ref for more details.
				var ind = acc.findIndex((item) => item.id > curr.id); // ou acc.findIndex(isLargeNumber);
				if (ind === -1) ind = acc.length;
				acc.splice(ind, 0, curr);
			return acc;
			}, []);

				
				for (var i = 0; i < users_.length; i++) { 
		  %>
				<tr>
					<%	var image_profile_length;
						if(users__[i].imageprofile != null){
							//var base64Image = Buffer.from(users__[i].imageprofile).toString('base64');
							image_profile_length = users__[i].imageprofile.length;
					%>
							<td> 	<img style='display:block; width:75px;height:75px;' id='base64image'                 
									src='data:image/jpeg;base64, <%= users__[i].imageprofile %> '/>
							</td>
					<%		
					   }else{
					%>
							<td>  <img style='display:block; width:75px;height:75px;' id='avatarimage'                 
									src='/images/avatar-profil.png'/> 
									
							</td>
					<%
					 }
					%>
					
					<td><%= users__[i].id 				%> 	</td>
					<td><%= users__[i].nickname 		%> 	</td>
					<td><%= image_profile_length 		%> 	</td> <!-- users_[i].imageprofile.length -->
					<td><%= users__[i].status 			%> 	</td>
					<td><%= users__[i].connected 		%> 	</td>
					<td><%= users__[i].lastconnected 	%> 	</td>
					<td><%= users__[i].disconnected 		%> 	</td>
					<td><%= users__[i].blacklistauthor 	%>  </td>
					<td><%= users__[i].notseenmessages 	%>  </td>
					<% const connectedwiths__ = JSON.stringify(users__[i].connectedwith); %>
					<td><%= connectedwiths__ 			%> 	</td>
					
				</tr>
			<% }; %>
          </tr>
        </tbody>
      </table>
    </div>

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>