<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
	<ul>
			<p> Number of users : <%= users_.length %></p>
    </ul>
	<table>   
		<tr>
			<th>HomeTeam</th>
		</tr>	
		
		<tr>
            <th>image</th>
			<th>id</th>
            <th>nickname</th>
            <th>imageprofile</th>
			<th>status</th>
			<th>connected</th>
			<th>lastconnected</th>
			<th>disconnected</th>
			<th>blacklistauthor</th>
			<th>notseenmessages</th>
			<th>connectedwith</th>
        </tr>	
		
			<% for (var i = 0; i < users_.length; i++) { %>
				<tr>
					<% if(users_[i].imageprofile != null){
							var base64Image = Buffer.from(users_[i].imageprofile).toString('base64');
					%>
							<td> 	<img style='display:block; width:75px;height:75px;' id='base64image'                 
									src='data:image/jpeg;base64, <%= base64Image %> '/>
							</td>
					<%		
					   }else{
					%>
							<td>  <img style='display:block; width:75px;height:75px;' id='avatarimage'                 
									src='/images/avatar-profil.png'/> 
									
							</td>
					<%
					 }
					%>
					
					<td><%= users_[i].id %> </td>
					<td><%= users_[i].nickname %> </td>
					<td><%= users_.length %> </td> <!-- users_[i].imageprofile.length -->
					<td><%= users_[i].status %> </td>
					<td><%= users_[i].connected %> </td>
					<td><%= users_[i].lastconnected %> </td>
					<td><%= users_[i].disconnected %> </td>
					<td><%= users_[i].blacklistauthor %> </td>
					<td><%= users_[i].notseenmessages %> </td>
					<% const connectedwiths_ = JSON.stringify(users_[i].connectedwith); %>
					<td><%= connectedwiths_ %> </td>
					
				</tr>
			<% }; %>
    </table>

  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>