<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>This is great</h1>
    <p>Welcome to templating using EJS</p>
	<h2>Variable</h2>
    <p><%= tagline %></p>
	<p>received mascot <%= mascot %></p>
	
	<ul>
      <% mascots.forEach(function(mascot) { %>
        <li>
          <strong><%= mascot.name %></strong>
          representing <%= mascot.organization %>,
          born <%= mascot.birth_year %>
        </li>
      <% }); %>
    
	</ul>
	<!-- an ejs file is importing a variable called 'foo' inferieur%= foo %> -->
	
	<!-- an ejs file importing or include -->
	<!-- <p>Received notes : <%= notes %></p> ne marche pas -->
	<p>Received notes : <%- notes %></p>
	
	<!-- <p>Number of notes : <%= notes.length %></p>
	
	<!--  an ejs file is using javascript code -->
	<p> <% const notes_ = JSON.parse(notes);%>
	
	
	</p>
	
	<table>   
		<tr>
			<th>HomeTeam</th>
		</tr>	
		<tr>
            <th>id</th>
            <th>note</th>
            <th>trimestre</th>
			<th>ideleves</th>
        </tr>	
		
			<% for (var i = 0; i < notes_.length; i++) { %>
				<tr>
					<td><%= notes_[i].id %> </td>
					<td><%= notes_[i].note %> </td>
					<td><%= notes_[i].trimestre %> </td>
					<td><%= notes_[i].ideleves %> </td>
					
				</tr>
			<% }; %>
    </table>
	
	
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>